.opt a
{
	
	text-decoration: none;
	color: black;
}
.opt a:hover
{	
	color: red;
	background-color:lightgrey;
	background-size: 30px;


}
.wrapper2
{
	margin-top: 5px;
}
.wrapper
{
	position: relative;
	padding-top: 70px;
}
.wrapper h1
{
	font-family: cursive;
	font-size: 52px ;
	margin-bottom: 40px;
	text-align: center;
}
.team
{
	display: flex;
	text-align: center;
	justify-content:center;
	padding: 2px;

}
.tpc
{
	background-color: white;
	margin: 5px;
	margin-bottom: 50px;
	width: 300;
	height: 250px;
	line-height: 20px;
	color: #8e8b8b;
	position: relative ;
	border-radius: 10px;
	box-shadow: 5px 5px 5px black;
	
	border: solid black;

	


}
.tpc:hover
{
	background-color: lightgrey;
	color: orangered;
	cursor: pointer;
}
.name
{
	color: orangered;	
	font-size: 30px;
	margin-top: 20px;
	font-family:;
	

}

.img
{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	box-shadow: 3px 2px 5px 2px black;
	background-color: whitesmoke;

}
.tpc p
{
	color: black;
	font-family:sans-serif;

}
#mnav
{
	
		background-color: rgb(238,248,253,.8);
		height: 70px;
		width: 100%;
		position: fixed;
		padding-left:10%;
		top: 0px;
		left:0px;
		align-content: center;
		border-style:solid;
		border-color: lightgrey;
		z-index: 2;



}
#navmenu
{
	padding-left: 5px;
	display: flex;
	list-style-type: none;
	position: relative;
	margin-left: 3px;
	color: black;
	align-content: center;
	padding-top: 8px;
	
}
.opt
{		
			position: relative;
			right:-2%;
			margin-left: 5px;
			font-size: 20px;
			font-weight: bolder;
			text-decoration:none;
			padding-left: 30px;
		
}
.logo
{
	position: relative;
	right: 80px;
	top: -19px;
	height: 60px;
	width: 60px;
	border-radius: 50%;
}
.signin
{
	height:40px;
	width: 100px;
	position: relative;
	top: -9px;
	left: -14px;
	border-radius: 10px;
	background-color: #0065ff;
	border-color: #0065ff;
	color: white;


}
.signup
{
	height:40px;
	width: 100px;
	position: relative;
	top: -9px;
	left: -13px;
	border-radius: 10px;
	background-color: #36b37e;
	border-color: #36b37e;

}

.donate
{

	height:50px;
	width: 100px;
	border-color: orangered;
	background-color:white;
	font-family: sans-serif;
	color:orangered;
	border-radius: 10px;
	position: relative;
	top: -14px;


}
.mimg img
{
	position: relative;
	top: 80px;
	height: 400px;
	width: 100%;
}
#ftr
{
	display: flex;

 	background-color: rgba(23,43,77,255);

	background-repeat:no-repeat;
	background-size:cover;
	background-origin: border-box;
	background-attachment:fixed;
	height: 350px;
	align-items: center;
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;

}
.cnt
{
	margin:10%;
	position: relative;
	top: -20px;


}
.cntl
{
	position: relative;
	top: 10px;
	
	

}
.li
{
	list-style-type: none;
	line-height: 2;
	font-size: 20px;
	color: white;

}
.smicon
{
	height: 18px;
	margin-right: 10px;
	padding-top: 4px;
	border-radius: 70%;
	box-shadow: 1px 1px 1px ;
}

.social
{
	height: 40px;
	margin-right: 10px;
	padding-top: 4px;
	border-radius: 70%;

}
#footer
{
	background-color: black;
	position: relative;
	top:-20px;
	height: 40px;
	align-items: center;
	display: flex;
}
.list
{
	position: relative;
	display: flex;
	color: white;
	list-style-type: none;
	margin-left: 40%;

}

.list li
{
	position: relative;

	margin-left: 10px;
	font-size: 12px;
	

}
.copy
{
	position: relative;
	left: 30px;
	font-size: 10px;
	color: white;
}
.list a
{
	text-decoration: none;
	text-decoration-style: none;
	color: white;
}
.li a
{
	text-decoration: none;
	text-decoration-style: none;
	color: white;

}


